* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header .nav1 {
    font-weight: 500;
    background-color: rgb(79, 137, 230);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
    padding-right: 100px;
    font-size: 13px;

}

header .nav1 span {
    padding-right: 10px;
}


p {
    padding: 20px;
}

h2 {
    padding: 50px;
}

.home3 .título{
    background-color: rgb(8, 25, 111);
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

.imagens {
    text-align: center;
    background-color: rgba(11, 32, 137, 0.895);
}

.imagens img {
    margin: 60px;
    
}

.imagens h2 {
    color: white;
    text-align: center;
}

.conteúdo {
    padding-top: 20px;
    text-align: justify;
    background-color: rgb(79, 137, 230);
    color: black;
}

.conteúdo img {
    display: block;
    margin: 0 auto;
}

.AVISOS {
    padding-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.895);
    color: white;
}

.final {
    padding-top: 20px;
    text-align: left;
    background-color: rgb(40, 121, 197);
    color: black;
}
footer {
    background-color: rgba(8, 8, 138, 0.842);
    font-family: 'Arial';
    text-align: center;
    padding-top: 10;
    margin: 0;
    color: aliceblue;
}